.bio-heading {
  font-family: "Crafty Girls", cursive;
  color: white;
}

.bio-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  grid-gap: 50px 50px;
  background-color: black;
  justify-content: center;
}

.column-1 {
  margin-top: 20px;
  background-color: white;
}

.column-2 {
  margin-top: 40px;
  width: 50%;
}

.personal-img {
  width: 500px;
  height: 650px;
  object-fit: cover;
  object-position: 80% 10%;
  background-color: black;
}

.bio-information {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-size: medium;
  color: lightgrey;
  line-height: 23px;
  font-size: 22px;
  font-family: "Crafty Girls", cursive;
  line-height: 2.5rem;
  font-size: 20px;
}

/* @media (max-width: 400px) {
  .test-img,
  .testimonial-text {
    width: 90vw;
  }
} */

/* @media (max-width: 950px) {
  .column-2 {
    width: 100%;
    flex-direction: column;
    row-gap: 30px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  .bio-information {
    text-align: center;
  }
} */
