.portfolio-name,
.header-content {
  font-family: 'Roboto', sans-serif;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  background-color: black;
  height: 90px;
  z-index: 100;
 

}

/* .portfolio-name {
  text-align: center;
  color: white;
  font-size: 35px;
} */

.header-content {
  display: flex;
  flex-direction: row;
  column-gap: 22px;
  align-items: center;
  cursor: pointer;
 

}

.wrapper-portfolio-logo {
  display: flex;
  
  align-items: center;
  
}

.portfolio-logo {
  margin-top: 25px;
  width: 190px;
  height: 190px;
}

.instagram-logo {
  width: 29px;
  height: 58px;
  margin-top: 7px;
}

.linkdin-logo {
  width: 29px;
  height: 58px;
  margin-top: 7px;
}

.behance-logo {
  width: 29px;
  height: 58px;
  margin-top: 7px;
  color: white;
}

.tag {
  text-align: center;
  text-decoration: none;
  color: white;
}

@media (max-width: 950px) {
  .portfolio-name {
    font-size: small;
  }
}
